@charset 'utf-8';

// Reset
@import "normalize-scss";
@import "./_reset.scss";

// Initial setting
@import "variables";
@import "mixin";

@import url("https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap");

html {
  font-size: 16px;
  width: 100%;
  -webkit-print-color-adjust: exact; /*印刷用*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*iPhoneタップ時の半透明を消す*/
  body {
    background-color: $color-bg;
    color: $color-font;
    font-family: $font-sans-serif;
    letter-spacing: 0.02em;
    line-height: 1.5;
    height: 100vh; //fallback option
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    ::selection {
      background: #fae4a9;
    }
    a,
    button {
      cursor: pointer;
      text-decoration: none;
      transition: all 0.3s;
    }
    img {
      width: 100%;
    }
  }
}

#root {
  width: 100%;
  height: 100vh; //fallback option
  height: calc(var(--vh, 1vh) * 100);
}
.button {
  font-family: "Amatic SC", cursive;
  background: #e22c2c;
  color: white;
  margin: auto;
  position: absolute;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  font-size: 2rem;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    filter: brightness(110%);
  }
}
.parallax-container {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh; //fallback option
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  .parallax-layer {
    background-repeat: no-repeat;
    position: absolute;
  }
  .layer1 {
    background-image: url(../images/layer1.png);
    background-size: cover;
    background-position: center;
    width: 150%;
    height: 46%;
    margin: auto;
    left: -25%;
    bottom: -23%;
    @include medium {
      width: 140%;
      height: 50%;
      left: -10%;
      bottom: -23%;
    }
  }
  .layer2 {
    background-image: url(../images/layer2.png);
    background-size: contain;
    background-position: bottom;
    width: 80px;
    height: 100px;
    left: 15%;
    bottom: 4%;
    @include medium {
      width: 120px;
      height: 150px;
      bottom: 10%;
    }
  }
  .layer3 {
    background-image: url(../images/layer3.png);
    background-size: contain;
    background-position: center;
    width: 8%;
    height: 15%;
    right: 10%;
    bottom: 2%;
    @include medium {
      bottom: 10%;
    }
  }
  .layer4 {
    //logo
    background-image: url(../images/layer4.png);
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 40%;
    margin: auto;
    left: 0;
    top: 15%;
    right: 0;
    @include medium {
      width: 40%;
    }
  }
  .layer5 {
    background-image: url(../images/layer5.png);
    background-position: center;
    background-size: contain;
    width: 170%;
    height: 250px;
    margin: auto;
    left: -35%;
    right: 0;
    bottom: 12%;
    @include medium {
      left: -22%;
      width: 150%;
      height: 400px;
    }
  }
  .layer6 {
    background-image: url(../images/layer6.png);
    background-size: cover;
    background-position: top;
    width: 130%;
    height: 36%;
    margin: auto;
    left: -15%;
    bottom: -3%;
    right: 0;
    @include medium {
      height: 45%;
      bottom: -3%;
    }
  }
  .layer7 {
    background-image: url(../images/layer7.png);
    background-size: cover;
    width: 120%;
    height: 110%;
    height: calc(var(--vh, 1vh) * 110);
    left: -10%;
    top: -10%;
  }
}
